


.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: black;
  text-align: center; 
  font-family: 'WorkSans';
  font-style: bold;
  padding: 0%;
}

.title { 
  font-family: serif;
}

h2 { 
  color: black;
  font-family: 'WorkSans';
  font-weight: 500;
} 

h3 {
  font-family: 'WorkSans';
  font-weight: 500;
  color: rgb(57, 60, 126);
  font-style: italic;
}

h4 { 
  font-family: 'WorkSans';
  font-weight: 400;
  color: black;
  font-size: 10px;
}

p {
  color: black; 
  font-family: 'WorkSans';
  font-weight: 300;

}

.ask {
  padding-top: 80px;
  padding-left: 130px;
  display: flex;
  width: 80vw;
  height: 80vh;

}

.col {
  flex: 50%;
  padding: 10px;
  float: left;
  /* padding: 10px; */
}

.left {
  column-width:1%;
}

.right {
  /* width: 100%; */
  height: 400px;
  border: 2px solid #008CBA;
  overflow:auto;
  padding: 10px;
  

}
.container {
  width: 85%;
  margin: 0 auto;
  position: sticky;
}

nav {
  float: right;
  position: sticky;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: rgb(169, 172, 201);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 550;
  font-size: 14px;
}

nav a:hover {
  color: rgb(57, 60, 126);
  text-decoration: none;

}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(57, 60, 126);
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.prev{
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.next{
  margin-top: 20px;
  margin-bottom: 50px;
}

.modal-custom {
  max-width: 700px!important;
}

.internship {
  /* height:400px;
  width:500px; */
  border: 2px solid #008CBA;
  overflow:auto;
  padding: 10px;
  /* border-collapse: separate; */
  /* border-spacing: 5px; */
}

.word{
  font-weight: bold
}

.fill{
  background-color: #dedede;
}

.footer { 
  text-align: center; 
  padding: 20px; 
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 0.5mm;
  opacity: 0.5;
}

.title { 
  font-weight: bold;
  font-size: 80px;
}

/*
.homepage-text { 
  animation: fadeInAnimation ease 3s; 
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

*/

@keyframes fadeInAnimation { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.about-page, .pricing-page { 
  animation: fadeInAnimation 3s ease-in-out;
  animation-iteration-count: 1;
}


.svg-line, .svg-line-1 { 
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 2s linear forwards;
  animation-iteration-count: 2;
}

.svg-line-1 {
  stroke-width: 2px;
  stroke: rgb(57, 60, 126);
  animation: dash 1.5s linear forwards;
  animation-iteration-count: 1;
  
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  flex-grow: 3;
}

.governance, .employment, .covid-19, .formation {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  line-height: 10px;
  box-shadow: 3px 3px; 
  text-transform: uppercase;
  font-weight: 580;
  display: block;
  
}
.employment, .governance, .formation {
  margin-right: 40px;
 
}

.covid-19:hover, .employment:hover, .governance:hover, .formation:hover {
 /* color: rgb(169, 172, 201); */
  color: rgb(57, 60, 126);
  /* border-color: rgb(169, 172, 201) ; */
  border-color: rgb(57, 60, 126);
}


ol.details {
  list-style-type: lower-roman;
}

/* Progress {
  margin-top: 50px;
  padding-bottom: 50px;
} */

button {
  background-color: #008CBA;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.prev {
  padding: 15
  px 10px;
}
.prev:hover {
  background-color: #FF4F64;
}
.next:hover {
  background-color: #4CAF50;
}

.generate{
  padding-top: 100px;
}
.finalize {
  margin-bottom: 30px;
  text-align: center;
  left: 50%
}
.finalize:hover {
  background-color: #4CAF50;
}

.pdfgenerated {
  border:none;
  padding: 10px;
  height: 800px;
  /* width: 500px; */
}

.mission-statement { 
  padding: 20px; 
  margin: 20px;
  border: 2px solid rgb(57, 60, 126);
  text-align: center;
}

.tab1 { 
  margin-left: 40px; }

.tab { 
  margin-left: 40px; }

.submenu-custom { 
  font-family: 'WorkSans'; 
  background-color: white;
  color: rgb(169, 172, 201);
  border-color: white;
}


.indoc {
  color:black;
  font-style:normal;
}

.bld {
  font-style: bold;
}

.price-cards { 
display: flex;
justify-content: center;
flex-wrap: wrap;
font-family: 'WorkSans';
}

.price-card-1, .price-card-2, .price-card-3, .price-card-4 {
  width: 220px;
  height: 220px;
  margin: 10px;
  font-family: 'WorkSans';
}

.card-2-inside:hover { 
  background-color: rgb(153, 177, 229);
  color: white;
}

.price-option {
  font-size: 16px;
}

.price-category {
  font-size: 25px;
  font-weight: 550;
}