


.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: black;
  text-align: center; 
  font-family: 'WorkSans';
  font-style: bold;
  padding: 0%;
}

h2 { 
  color: black;
  font-family: 'WorkSans';
  font-weight: 500;
}

p {
  color: black; 
  font-family: 'WorkSans';
  font-weight: 300;

}

.ask {
  padding-top: 70px;
}

.container {
  width: 85%;
  margin: 0 auto;
  position: sticky;
}

nav {
  float: right;
  position: sticky;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: rgb(169, 172, 201);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 550;
  font-size: 14px;
}

nav a:hover {
  color: rgb(57, 60, 126);
  text-decoration: none;

}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(57, 60, 126);
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.prev{
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.next{
  margin-top: 20px;
  margin-bottom: 50px;
}

/* .forms {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.doc {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}  */
.modal-custom {
  max-width: 700px!important;
}

.internship {
  border: 2px solid black;
  border-collapse: separate;
  border-spacing: 5px;
}

.word{
  font-weight: bold
}

.fill{
  background-color: #dedede;
}

.footer { 
  text-align: center; 
  padding: 20px; 
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 0.5mm;
  opacity: 0.5;
}

.title { 
  font-weight: bold;
  font-size: 80px;
}

/*
.homepage-text { 
  animation: fadeInAnimation ease 3s; 
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

*/

@keyframes fadeInAnimation { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.about-page { 
  animation: fadeInAnimation 3s ease-in-out;
  animation-iteration-count: 1;
}

.svg-line, .svg-line-1 { 
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 2s linear forwards;
  animation-iteration-count: 2;
}

.svg-line-1 {
  stroke-width: 2px;
  stroke: rgb(57, 60, 126);
  animation: dash 1.5s linear forwards;
  animation-iteration-count: 1;
  
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.governance, .employment, .covid-19 {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  box-shadow: 3px 3px;
  text-transform: uppercase;
  font-weight: 580;
}
.employment, .governance {
  margin-right: 100px;
}



.covid-19:hover, .employment:hover, .governance:hover {
  color: rgb(169, 172, 201);
  border-color: rgb(169, 172, 201) ;
}


ol.details {
  list-style-type: lower-roman;
}



